#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-color: "blue";
}

.input-field {
  width: 180px;
}

.modal {
  display: flex;
  color: "black";
  width: 900px;
}
